main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2%;
}
.card{
  background: aliceblue;
  padding: 4%;
  border-radius: 10px;
}
.iceImg{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.alert{
  color: red;
  font-weight: bold;
}
#showOnlyAvailable{
  display: flex;
  justify-content: flex-end;
}
button:hover {
  background: rgb(191, 219, 219);
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}